/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}

.voltes {
  color: rgba(139, 21, 21, 0.261);
  font-weight: 800;
  font-size: medium;
}

.input-font {
  font-family: sans-serif;
}

button {
  margin-top: 20px;
  font-family: sans-serif;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
